[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mikołaj Wielgos
	email = wielgosmikolaj@gmail.com
	signingkey = E41B14CE727764DC
[commit]
	gpgsign = true
[gui]
	recentrepo = C:/Users/WLGS/Documents/GitHub/introduction-to-web-applications-course
[gpg]
	program = C:/Program Files/Git/usr/bin/gpg
