{
  "tabWidth": 4,
  "useTabs": false,
  "bracketSameLine": true,
  "printWidth": 80,
  "editor.formatOnSave": true,
  "trailingComma": "none",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "crlf"
}
  